<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ease.launchConfigurationType">
    <stringAttribute key="File location" value="workspace://MyPlugin/src/nuaa/solver/PartBudget.java"/>
    <stringAttribute key="Script engine" value="org.eclipse.ease.jvm.compiled"/>
</launchConfiguration>
